<div class='my-5 mx-auto text-center container'>
  <h2>Showcasing my Digital Portfolio</h2>
  <p class='mt-4 mx-auto' style='max-width: 80ch;'>
    I invite you to explore the culmination of my passion, dedication, and
    craftsmanship. Each project represents a unique journey where I've brought
    ideas to life, embracing simplicity and elegance in design. With a focus on
    user-centric experiences, I strive to create meaningful connections through
    my work. Join me on this expedition as I share my love for design and
    innovation, one project at a time.
  </p>
</div>
