<section class='w3-gallery py-5'>
  <div class='container py-lg-5'>
    <ul class='portfolio-categ filter text-center mb-4 p-0'>
      <li class='port-filter all active'>
        <a href='#'>Show All</a>
      </li>
      <li class='cat-item-1'>
        <a href='#' title='Category 1'>Architecture</a>
      </li>
      <li class='cat-item-2'>
        <a href='#' title='Category 2'>Web Design</a>
      </li>
      <li class='cat-item-3'>
        <a href='#' title='Category 3'>Creative</a>
      </li>
      <li class='cat-item-4'>
        <a href='#' title='Category 4'>Portfolio</a>
      </li>
    </ul>
    <ul class='portfolio-area clearfix p-0 m-0'>
      <li class='portfolio-item2 content' data-id='id-1' data-type='cat-item-1'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p1.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p1.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Pink flowers</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-2' data-type='cat-item-2'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p2.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p2.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Headphones</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-3' data-type='cat-item-1'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p3.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p3.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Pineapple</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-4' data-type='cat-item-3'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p4.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p4.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Cup of tea</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-5' data-type='cat-item-4'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p5.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p5.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Icecream</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-7' data-type='cat-item-3'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p6.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p6.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Red berries</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-4' data-type='cat-item-3'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p7.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p7.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Orange</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-5' data-type='cat-item-4'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p8.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p8.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Black berries</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
      <li class='portfolio-item2 content' data-id='id-7' data-type='cat-item-3'>
        <span class='image-block'>
          <a
            class='image-zoom'
            href='assets/images/p9.jpg'
            data-gal='prettyPhoto[gallery]'
          >
            <div class='content-overlay'></div>
            <img
              src='assets/images/p9.jpg'
              class='img-fluid w3layouts agileits'
              alt='portfolio-img'
            />
            <div class='content-details fadeIn-bottom'>
              <h3 class='content-title'>Orange mike</h3>
              <p class='content-text'>This is a short description</p>
            </div>
          </a>
        </span>
      </li>
    </ul>
    <!--end portfolio-area -->
  </div>
  <!-- //gallery container -->
</section>
