<section class='abouthy-img-grids' data-aos='fade-in'>
  <div class='img-one'>
    <img src='/assets/images/g5.jpg' alt='decoration' class='img-fluid' />
  </div>
  <div class='img-one content-mid'>
    <h3 class='title-big'>
      Stay up to date, Subscribe to the free Newsletter!
    </h3>
    <form class='subscribe-form' id='form'>
      <input
        type='email'
        name='Email'
        id='Email'
        placeholder='Enter your email'
        required
      />
      <input type='text' class='d-none' name='Country' id='Country' />
      <button type='submit' id='submit' class='btn'>Subscribe</button>
      <button class='btn btn-primary d-none loading-btn' type='button' disabled>
        <span
          class='spinner-border spinner-border-sm'
          role='status'
          aria-hidden='true'></span>
        Loading...
      </button>
    </form>
    <div class='news-success d-none'>
      <div class='alert alert-success' role='alert'>
        Subscription successful! Welcome to our newsletter community.
      </div>
    </div>
    <div class='news-failed'>
      <div class='alert alert-danger' role='alert'>
        Subscription failed. Please double-check your information and try again.
        If the issue persists, please reach out to me directly. Apologize for
        any inconvenience caused.
      </div>
    </div>
  </div>
  <div class='img-one'>
    <img src='/assets/images/g3.jpg' alt='decoration' class='img-fluid' />
  </div>
</section>

<style>
  .abouthy-img-grids {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    display: grid;
  }

  .img-one.content-mid {
    background: var(--bg-light);
    min-height: 100%;
    align-items: center;
    display: grid;
    padding: 0px 50px;
    gap: 1.25rem;
  }

  .img-one.content-mid input {
    color: var(--font-color);
    background: transparent;
    padding: 0px 20px;
    font-size: 1.2em;
    outline: none;
    width: 350px;
    height: 65px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--border-color);
  }

  .img-one.content-mid button {
    font-weight: 700;
    text-align: center;
    width: 143px;
    background: var(--primary-color);
    outline: none;
    color: #fff;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .img-one.content-mid h3 {
    align-self: end;
  }

  .subscribe-form {
    display: flex;
    align-self: flex-start;
    margin-top: 30px;
    transition: all 250ms linear;
  }

  .news-success,
  .news-failed {
    min-width: 500px;
    opacity: 0;
    transition: all 250ms linear;
  }

  @media (max-width: 1199px) {
    .news-success,
    .news-failed {
      margin-top: 1.25rem;
    }
  }

  @media only screen and (max-width: 991px) {
    .img-one.content-mid {
      padding: 80px 50px;
    }
    .abouthy-img-grids {
      grid-template-columns: 0fr 1fr 0fr;
    }
  }

  @media only screen and (max-width: 768px) {
    .img-one.content-mid input {
      width: 75%;
    }
  }

  @media only screen and (max-width: 568px) {
    .img-one.content-mid {
      padding: 60px 15px;
      min-height: auto;
    }
    .img-one.content-mid input {
      width: 100%;
    }

    .news-success,
    .news-failed {
      min-width: auto;
    }
  }

  @media only screen and (max-width: 415px) {
    .subscribe-form {
      display: block;
      border-radius: var(--border-radius);
    }
    .img-one.content-mid button {
      width: 100%;
      margin-top: 10px;
      height: 65px;
      border-radius: var(--border-radius);
    }
  }
</style>

<script type='text/javascript'>
  const form = document.querySelector("#form");
  const countryInput = document.querySelector("#Country");
  const submitButton = document.querySelector("#submit");
  const loadingBtn = document.querySelector(".loading-btn");
  const newsSuccess = document.querySelector(".news-success");
  const newsFailed = document.querySelector(".news-failed");
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbwThhRwvvuPzZAuYhEY95B6SQn4I2Im_ExE6OwA5Y_8Uh7_68IOmoiJqs5p0NX48XMUtg/exec";

  function newsStatus(status) {
    submitButton.disabled = false;
    form.style.opacity = "0";
    setTimeout(() => {
      form.style.display = "none";
      status.classList.remove("d-none");
      setTimeout(() => {
        status.style.opacity = "1";
      }, 50);
    }, 300);
  }

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    countryInput.value = localStorage.getItem("country");
    submitButton.disabled = true;
    submitButton.classList.add("d-none");
    loadingBtn.classList.remove("d-none");
    let requestBody = new FormData(form);
    fetch(scriptURL, { method: "POST", body: requestBody })
      .then((response) => {
        newsStatus(newsSuccess);
      })
      .catch((error) => {
        newsStatus(newsFailed);
      });
  });
</script>
