---
import { Icon } from "astro-icon";

const rowOneSkills = [
  { name: "akar-icons:html-fill", displayText: "HTML5" },
  { name: "akar-icons:css-fill", displayText: "CSS3" },
  { name: "akar-icons:javascript-fill", displayText: "JavaScript" },
  { name: "akar-icons:react-fill", displayText: "React" },
  { name: "simple-icons:astro", displayText: "Asrto" },
];

const rowTwoSkills = [
  { name: "akar-icons:bootstrap-fill", displayText: "Boorstrap" },
  { name: "ion:logo-sass", displayText: "SASS" },
  { name: "mdi:tailwind", displayText: "TailwindCss" },
  { name: "simple-icons:git", displayText: "Git" },
  { name: "ph:figma-logo", displayText: "Figma" },
];
---

<section class='skills py-5'>
  <div class='content-6-mian py-lg-5 py-md-4'>
    <div class='container'>
      <div class='content-info-in row'>
        <div class='content-gd col-lg-5'>
          <h3 class='title-big mb-4'>
            A Skillset to Propel Your Digital Success
          </h3>
          <p>
            Welcome to my skills section, where expertise meets innovation. With
            a proven track record of powering remarkable digital experiences, I
            possess a diverse skillset that equips me to tackle any front-end
            development challenge.
          </p>
        </div>
        <div
          class='content-gd col-lg-6 offset-lg-1 d-flex flex-column justify-content-between'
        >
          <div class='d-flex align-items-center justify-content-around'>
            {
              rowOneSkills.map((skill) => {
                return (
                  <div class='d-flex flex-column align-items-center'>
                    <Icon class='skill-icon' name={skill.name} size={60} />
                    <p class='skill-display mt-2'>{skill.displayText}</p>
                  </div>
                );
              })
            }
          </div>
          <div class='d-flex align-items-center justify-content-around'>
            {
              rowTwoSkills.map((skill) => {
                return (
                  <div class=' mt-5 mt-lg-0 d-flex flex-column align-items-center'>
                    <Icon class='skill-icon' name={skill.name} size={60} />
                    <p class='skill-display mt-2'>{skill.displayText}</p>
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .skill-icon {
    color: var(--primary-color);
    position: relative;
  }

  .skill-display {
    color: var(--heading-color);
  }

  @media (max-width: 991px) {
    .skills .content-gd:nth-child(2) {
      margin: 40px 0 0 0;
    }
  }

  @media (max-width: 668px) {
    .skills .content-6-mian h4 {
      font-size: 20px;
    }
    .skills .content-6-mian h4 span {
      font-size: 30px;
      line-height: 40px;
    }
  }

  @media (max-width: 568px) {
    .skills .content-6-mian h4 span {
      font-size: 26px;
      line-height: 26px;
    }
  }
</style>
