---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import AboutMe from "../components/About/AboutMe.astro";
import Features from "../components/About/Features.astro";
import Skills from "../components/About/Skills.astro";
import Newsletter from "../components/About/Newsletter.astro";
import Certificates from "../components/About/Certificates.astro";
---

<Layout title='Unveiling the Story Behind me: A Passionate Journey in Frontend Web Development' description='On the About page,a passionate frontend web developer driven by a love for creativity and technology. Discover the inspirations, experiences, and expertise that have shaped my journey in the world of web development. From a fascination with design to a relentless pursuit of excellence, learn about the values and vision that underpin my work. Join me as we embark on a mission to create visually stunning and user-centric digital experiences. Get to know the person behind the code and the unique perspective I bring to the web development landscape.' curPage='about'>
  <main>
    <Breadcrumbs curPage='About Me' />
    <AboutMe />
    <Features />
    <Skills />
    <Newsletter />
    <Certificates />
  </main>
</Layout>
