---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import AboutMe from "../components/About/AboutMe.astro";
import Features from "../components/About/Features.astro";
import Skills from "../components/About/Skills.astro";
import Newsletter from "../components/About/Newsletter.astro";
import Certificates from "../components/About/Certificates.astro";
---

<Layout
  title="About Kareem Magdy: Crafting Digital Experiences"
  description="Delve into the journey of Kareem Magdy, a frontend developer redefining digital creativity. Discover the artistry behind captivating user experiences."
  canonical="https://kareem-magdy.com/about/"
  curPage="about"
>
  <main>
    <Breadcrumbs curPage="About Me" />
    <AboutMe />
    <Features />
    <Skills />
    <Newsletter />
    <Certificates />
  </main>
</Layout>
