---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import ContactForm from "../components/Contact/ContactForm.astro";
---

<Layout title="Let's Connect and Collaborate: Reach Out to Me for Web Development" description="Contact me today to discuss your frontend web development needs. Whether you have a project in mind or simply want to explore potential collaborations, I'm here to listen, advise, and bring your vision to life. Let's connect and create exceptional digital experiences together. Reach out via the contact form or the provided contact information below. I look forward to hearing from you!" curPage='contact'>
  <main>
    <Breadcrumbs curPage='Contact' />
    <ContactForm />
  </main>
</Layout>
