---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import ContactForm from "../components/Contact/ContactForm.astro";
import ContactHero from "../components/Contact/ContactHero.astro";
---

<Layout
  title="Let's Connect: Reach Out to Me for Web Development"
  description="Reach out to Kareem Magdy, a skilled frontend web developer, and explore collaboration opportunities. Connect for innovative digital solutions today!"
  canonical="https://kareem-magdy.com/contact/"
  curPage="contact"
>
  <main>
    <Breadcrumbs curPage="Contact" />
    <ContactHero />
    <ContactForm />
  </main>
</Layout>
