---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import About from "../components/Home/About.astro";
import Resume from "../components/Home/Resume.astro";
import Counts from "../components/Home/Counts.astro";
import Testimonials from "../components/Home/Testimonials.astro";
import Cta from "../components/Home/Cta.astro";
---

<Layout title='Welcome to Astro.' description='Home Desc' curPage='home'>
  <main>
    <Hero />
    <About />
    <Resume />
    <Testimonials />
    <Counts />
    <Cta />
  </main>
</Layout>
