---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import About from "../components/Home/About.astro";
import Resume from "../components/Home/Resume.astro";
import Counts from "../components/Home/Counts.astro";
import Testimonials from "../components/Home/Testimonials.astro";
import Cta from "../components/Home/Cta.astro";
---

<Layout
  title="Kareem Magdy: Frontend Web Developer - Portfolio Home"
  description="Elevate your digital experience with Kareem Magdy, a visionary frontend developer. Explore a world where code transforms into captivating web artistry."
  canonical="https://kareem-magdy.com/"
  curPage="home"
>
  <main>
    <Hero />
    <About />
    <Resume />
    <Testimonials />
    <Counts />
    <Cta />
  </main>
</Layout>
