---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import About from "../components/Home/About.astro";
import Resume from "../components/Home/Resume.astro";
import Counts from "../components/Home/Counts.astro";
import Testimonials from "../components/Home/Testimonials.astro";
import Cta from "../components/Home/Cta.astro";
---

<Layout title='Welcome to My Creative Digital Haven: Kareem Magdy - Frontend Web Developer' description="A talented frontend web developer dedicated to crafting immersive digital experiences. On this home page, you'll discover a showcase of cutting-edge designs, seamless user experiences, and innovative solutions. Embrace the fusion of technology and creativity as you navigate through my portfolio, witness my passion for elegant web design, and explore the possibilities of a visually stunning online presence. Get ready to embark on a journey where digital artistry meets exceptional functionality. Welcome to my creative digital haven." curPage='home'>
  <main>
    <Hero />
    <About />
    <Resume />
    <Testimonials />
    <Counts />
    <Cta />
  </main>
</Layout>
