---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import PortfolioItems from "../components/Portfolio/PortfolioItems.astro";
import PortfolioHead from "../components/Portfolio/PortfolioHead.astro";
---

<Layout title='Showcasing the Artistry of Kareem Magdy: A Portfolio of Exquisite Frontend Web Development' description='Immerse yourself in the artistic world of Kareem Magdy through this captivating portfolio. Explore a collection of stunning frontend web development projects that showcase my unique blend of creativity and technical expertise. From beautifully designed websites to interactive user experiences, each project represents a testament to my passion for pushing the boundaries of digital craftsmanship. Take a journey through my portfolio and witness the artistry of frontend web development' curPage='portfolio'>
  <main>
    <Breadcrumbs curPage='Portfolio' />
    <PortfolioHead />
    <PortfolioItems />
  </main>
</Layout>
