---
import Layout from "../layouts/Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import PortfolioItems from "../components/Portfolio/PortfolioItems.astro";
import PortfolioHead from "../components/Portfolio/PortfolioHead.astro";
---

<Layout
  title="Project Showcase: Kareem Magdy's Web Development Portfolio"
  description="Elevate your digital experience with Kareem Magdy's impressive portfolio showcasing innovative frontend web development projects. Explore now!"
  canonical="https://kareem-magdy.com/portfolio/"
  curPage="portfolio"
>
  <main>
    <Breadcrumbs curPage="Portfolio" />
    <PortfolioHead />
    <PortfolioItems />
  </main>
</Layout>
