<section id="about">
  <div class="py-5">
    <div class="container py-lg-5 py-md-3" data-aos="fade-in">
      <div class="row">
        <div class="col-lg-4">
          <div class="position-relative">
            <img
              src="https://res.cloudinary.com/dadonc0ng/image/upload/v1689585170/Portfolio/My%20Pics/6_qpdt8q.webp"
              alt="My Picture"
              class="radius-image img-fluid"
              loading="lazy"
            />
          </div>
        </div>
        <div class="col-lg-8 mt-lg-0 mt-5">
          <h5 class="title-small mb-2">Who am i?</h5>
          <h3 class="title-big">I'm Kareem Magdy, a Front-End Web Developer</h3>
          <p class="mt-3">
            Front-End Web Developer with a passion for creating stunning and
            intuitive digital experiences. Armed with a strong foundation in
            HTML, CSS, JavaScript, TypeScript, and React I have honed my skills
            to transform ideas into beautifully designed and functional
            websites. I believe in the power of clean code, user-centric design,
            and continuous learning to stay at the forefront of this
            ever-evolving field. Join me on this journey as we shape the digital
            landscape together.
          </p>
          <a href="/about" class="btn btn-style btn-primary mt-3"
            >More About Me</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
