<section class='stats py-lg-5 py-4' id='stats'>
  <div class='gallery-inner container py-md-5 py-4'>
    <div class='row stats-con'>
      <div class='col-sm-4 stats_info counter_grid' data-aos='fade-in'>
        <span class='fa fa-laptop'></span>
        <p><span class='counter'>10</span>+</p>
        <h4>Completed projects</h4>
      </div>
      <div
        class='col-sm-4 stats_info counter_grid1 mt-sm-0 mt-5'
        data-aos='fade-in'
        data-aos-delay='300'
      >
        <span class='fa fa-hourglass-end'></span>
        <p class='counter'>3</p>
        <h4>In processes</h4>
      </div>

      <div
        class='col-sm-4 stats_info counter_grid2 mt-sm-0 mt-5'
        data-aos='fade-in'
        data-aos-delay='600'
      >
        <span class='fa fa-smile-o'></span>
        <p><span class='counter'>10</span>+</p>
        <h4>Happy Clients</h4>
      </div>
    </div>
  </div>
</section>

<style>
  .stats {
    background: var(--bg-light);
  }
  .stats_info p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 30px;
    margin-bottom: 0;
  }

  .stats_info h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--font-color);
    margin-top: 10px;
  }

  .stats_info span.fa {
    font-size: 2.5em;
    color: var(--primary-color);
    margin: 0;
  }

  .stats_bottom_grid_left img {
    margin: 0 auto;
  }

  .stats_info {
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .stats_info:nth-child(3) {
    border-right: 0px;
  }

  .stats_info:nth-child(2) {
    border-left: 0px;
    border-right: 0px;
  }

  @media (max-width: 992px) {
    .stats_info p {
      font-size: 40px;
      line-height: 50px;
    }
    .stats_info h4 {
      font-size: 18px;
    }
  }

  @media (max-width: 737px) {
    .stats_info {
      padding: 0 5px !important;
    }
    .stats_info p {
      font-size: 35px;
      line-height: 38px;
      margin-top: 20px;
    }
    .stats_info h4 {
      font-size: 17px;
    }
  }

  @media (max-width: 415px) {
    .stats_info span.fa {
      font-size: 2em;
    }
  }
</style>
