<section class='text-center py-5'>
  <div class='container py-3' data-aos='zoom-in-up'>
    <h6 class='title-small'>Get in touch</h6>
    <h3 class='title-big mb-md-5 mb-4'>Let's start a Project! Hire Me.</h3>
    <a href='/contact' class='btn btn-style btn-outline-primary'>Get in touch</a
    >
  </div>
</section>
