<div class='py-5 resume'>
  <div class='container py-lg-5 py-3'>
    <h5 class='title-small mb-2'>My resume</h5>
    <h3 class='title-big mb-4'>
      Unveiling a Front-End Web Developer's Journey
    </h3>
    <p>
      Take a closer look at my qualifications and experience by downloading my
      resume. In this comprehensive document, you'll find a detailed overview of
      my skills, education, projects, and work history as a Front-End Web
      Developer. Discover the breadth of my technical expertise, including
      proficiency in HTML, CSS, JavaScript, and other relevant tools and
      frameworks.Don't miss the opportunity to explore my professional journey
      and see how I can contribute to your projects.
    </p>
    <div class='mt-5'>
      <a href='#download' class='btn btn-style btn-primary'>Download resume</a>
    </div>
  </div>
</div>

<style>
  .resume {
    background: var(--bg-light);
  }

  .resume p {
    max-width: 75ch;
  }
</style>
