<section class='clients' id='clients'>
  <!-- /grids -->
  <div class='cusrtomer-layout py-5' data-aos='fade-up'>
    <div class='container py-lg-5 py-md-4'>
      <div class='heading text-center mx-auto'>
        <h6 class='title-small text-center'>Testimonials</h6>
        <h3 class='title-big mb-md-5 mb-4'>What my clients think about Me</h3>
      </div>
      <!-- /grids -->
      <div class='testimonial-width'>
        <div id='owl-demo1' class='owl-carousel owl-theme mb-4'>
          <div class='item mx-auto'>
            <div class='testimonial-content'>
              <div class='testimonial'>
                <blockquote>
                  <q
                    >He got it done on time and correctly. Thanks!</q
                  >
                </blockquote>
                <div class='testi-des'>
                  <div class='test-img'>
                    <img
                      src='/assets/images/testimonials/01.jfif'
                      class='img-fluid'
                      alt='client-img'
                    />
                  </div>
                  <div class='peopl align-self'>
                    <h3>Christian Sanchez</h3>
                    <p class='indentity'>Client</p>
                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
    <!-- /grids -->
  </div>
  <!-- //grids -->
</section>

<style>
  .clients {
    background: var(--bg-color);
  }

  .clients .testimonial {
    position: relative;
    overflow: hidden;
    text-align: left;
  }

  .clients .testimonial-width {
    max-width: 1050px;
    margin: auto;
  }

  .item {
    max-width: fit-content;
  }

  .clients .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: var(--bg-light);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
  }

  .clients .testi-des {
    display: flex;
    text-align: center;
  }

  .clients blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color: var(--para-color);
  }


  .clients blockquote q::before,
  .clients blockquote q::after{
    font-size: 25px;
    color: var(--primary-color);
    line-height: 0.8;
    /* padding-top: 8px; */
    padding-inline: 0.25rem;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
  }

  .clients .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
  }

  .clients .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .clients .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
  }

  .clients .testimonial .peopl {
    margin: 0;
    margin-left: 20px;
    text-align: left;
  }

  .clients .testimonial .peopl h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }

  .clients p.indentity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
  }
</style>
