---
import { Icon } from "astro-icon";
import successSVG from "/assets/images/success-form.svg";
import failedSVG from "/assets/images/failed-form.svg";
---

<section class='contact-1 py-5' data-aos='fade-in'>
  <div class='contacts-9 py-lg-5 py-md-4'>
    <div class='container'>
      <div class='d-grid contact-view'>
        <div class='cont-details'>
          <div class='cont-top'>
            <div class='cont-left text-center'>
              <span class='fa fa-phone text-primary'></span>
            </div>
            <div class='cont-right'>
              <h6>Call Me</h6>
              <p><a href='tel:+201111258669'>+20 111 125 8669</a></p>
            </div>
          </div>
          <div class='cont-top margin-up'>
            <div class='cont-left text-center'>
              <span class='fa fa-envelope-o text-primary'></span>
            </div>
            <div class='cont-right'>
              <h6>Email Me</h6>
              <p>
                <a href='mailto:contact@kareem-magdy.com' class='mail'
                  >contact@kareem-magdy.com</a
                >
              </p>
            </div>
          </div>
          <div class='cont-top margin-up'>
            <div class='cont-left text-center'>
              <span class='fa fa-map-marker text-primary'></span>
            </div>
            <div class='cont-right'>
              <h6>Location</h6>
              <p>Giza, Egypt</p>
            </div>
          </div>
          <div class='cont-top margin-up'>
            <div class='cont-left text-center'>
              <span class='fa fa-map-marker text-primary'></span>
            </div>
            <div class='cont-right'>
              <a href='https://wa.me/201111258669' target='_blank'>
                <Icon name='simple-icons:whatsapp' size='25' />
              </a>
              <a href='https://t.me/KareeMagdyy' target='_blank' class='mx-3'>
                <Icon name='simple-icons:telegram' size='25' />
              </a>
            </div>
          </div>
        </div>
        <div class='map-content-9'>
          <form id='form'>
            <div class='twice-two'>
              <input
                type='text'
                class='form-control'
                name='Name'
                id='Name'
                placeholder='Name'
                required
              />
              <input
                type='email'
                class='form-control'
                name='Email'
                id='Email'
                placeholder='Email'
                required
              />
            </div>
            <div class='twice'>
              <input
                type='text'
                class='form-control'
                name='Subject'
                id='Subject'
                placeholder='Subject'
                required
              />
            </div>
            <input type='text' class='honey-bot d-none' />
            <input type='text' class='d-none' name='Country' id='Country' />
            <textarea
              name='Message'
              class='form-control'
              id='Message'
              placeholder='Message'></textarea>
            <div class='text-right'>
              <button
                type='submit'
                id='submit'
                class='btn btn-primary btn-style mt-4'>Send Message</button
              >
            </div>
            <div class='text-right d-none form-loader'>
              <button
                class='btn btn-primary btn-style mt-4'
                type='button'
                disabled
              >
                <span
                  class='spinner-border spinner-border-sm'
                  role='status'
                  aria-hidden='true'></span>
                Loading...
              </button>
            </div>
          </form>
          <div class='form-success py-2 d-none'>
            <div class='img-wrapper mx-auto'>
              <img src={successSVG} alt='Success' />
            </div>
            <div class='alert alert-primary' role='alert'>
              Success! Thank you for reaching out. I will get back to you
              shortly.
            </div>
          </div>
          <div class='form-failed py-2 d-none'>
            <div class='img-wrapper mx-auto'>
              <img src={failedSVG} alt='failed' />
            </div>
            <div class='alert alert-danger' role='alert'>
              Oops! Something went wrong. Please check your form submission and
              try again. If the issue persists, feel free to reach out to me
              directly. Apologies for any inconvenience caused.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .margin-up {
    margin-top: 2.5rem;
  }

  .contact-view {
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 30px;
  }

  .cont-top {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
  }

  .twice {
    margin-bottom: 20px;
  }

  .cont-details h6 {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 600;
  }

  .cont-details p,
  .cont-details p a {
    font-size: 19px;
    line-height: 28px;
    color: var(--font-color);
    margin-top: 3px;
  }

  .cont-details p a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: var(--heading-color);
  }

  .cont-details address {
    margin: 25px 0;
  }

  .cont-details address p {
    margin: 5px 0;
  }

  .twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .map-content-9 form input,
  .map-content-9 form textarea {
    background: var(--bg-light);
    border: 1px solid transparent;
    color: var(--font-color);
    font-size: 1.2em;
    padding: 12px 15px;
    width: 100%;
    border-radius: var(--border-radius);
    height: 55px;
  }

  .map-content-9 h5 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    color: var(--heading-color);
  }

  .map-content-9 form textarea {
    resize: none;
    min-height: 140px;
  }

  .map-content-9 form input:focus,
  .map-content-9 form textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    background: var(--bg-color);
    box-shadow: none;
  }

  #form,
  .form-success {
    transition: all 250ms;
  }

  .img-wrapper {
    max-width: 400px;
  }

  .img-wrapper img {
    max-width: 100%;
  }

  .cont-details h6 a {
    color: var(--heading-color);
  }

  /* contact1-responsive */
  @media (max-width: 992px) {
    .cont-details h5 {
      font-size: 32px;
      line-height: 35px;
    }
    .contact-view {
      grid-template-columns: 1fr;
    }
    .map-content-9 {
      margin-top: 20px;
    }
  }

  @media (max-width: 480px) {
    .twice-two {
      grid-template-columns: 1fr;
    }
    button.btn-contact {
      width: 100%;
    }
    .margin-up {
      margin-top: 1.5rem;
    }
  }
</style>

<script type='text/javascript'>
  const form = document.querySelector("#form");
  const formInputs = document.querySelectorAll("#form input");
  const formTextArea = document.querySelector("#form textarea");
  const countryInput = document.querySelector("#Country");
  const fromHoney = document.querySelector(".honey-bot");
  const submitButton = document.querySelector("#submit");
  const formLoading = document.querySelector(".form-loader");
  const formSuccess = document.querySelector(".form-success");
  const formFailed = document.querySelector(".form-failed");
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbyxoWaKo9DudtgAniNCh4pufzcbsZGnwd5jllOAfbCyB3UMFemmUk3pX-FFbg9G2mX7Xw/exec";

  const formSubmitted = (status) => {
    formInputs.forEach((input) => (input.value = ""));
    formTextArea.value = "";
    form.style.opacity = "0";
    setTimeout(() => {
      form.style.display = "none";
      status.classList.remove("d-none");
      setTimeout(() => {
        status.style.opacity = "1";
      }, 50);
    }, 300);
  };

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    countryInput.value = localStorage.getItem("country");
    if (fromHoney.value === "" || fromHoney.value === null) {
      submitButton.disabled = true;
      submitButton.style.display = "none";
      formLoading.classList.remove("d-none");
      let requestBody = new FormData(form);
      fetch(scriptURL, {
        method: "POST",
        body: requestBody,
      })
        .then((response) => {
          formSubmitted(formSuccess);
        })
        .catch((error) => {
          formSubmitted(formFailed);
        });
    } else {
      formSubmitted(formSuccess);
    }
  });
</script>
