<div class="mt-5 mx-auto text-center container" data-aos="fade-in">
  <h2>Get in Touch!</h2>
  <p class="mt-4 mx-auto" style="max-width: 80ch;">
    I'd love to hear from you! Whether you have a question, a project in mind,
    or just want to say hello, feel free to reach out. You can use the contact
    form below or drop me an email. Additionally, if you prefer a more direct
    approach, you can connect with me on social media. I'm always eager to
    connect with fellow enthusiasts and potential collaborators. Looking forward
    to hearing from you!
  </p>
</div>
