---
import { Icon } from "astro-icon";
export interface Props {
  curPage: string;
}

const { curPage } = Astro.props;

const homePage = curPage === "home";
const aboutPage = curPage === "about";
const contactPage = curPage === "contact";
const portfolioPage = curPage === "portfolio";
---

<header id="site-header" class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke">
      <!-- <a class='navbar-brand' href='index.html'>Kareem Magdy</a> -->
      <a class="navbar-brand" href="/">
        <img
          src="https://res.cloudinary.com/dadonc0ng/image/upload/v1689584903/Portfolio/Main%20Assets/logo-light_izhwdz.webp"
          alt="Kareem Magdy Logo"
          title="Kareem Magdy"
          class="main-logo"
        />
      </a>
      <button
        class="navbar-toggler collapsed bg-gradient"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <Icon name="fa:bars" size={26} class="nav-toggle-icon show" />
        <Icon name="fa:times" size={26} class="nav-toggle-icon hide" />
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class={homePage ? "nav-item active" : "nav-item"}>
            <a class="nav-link" href="/"
              >Home {homePage && <span class="sr-only">(current)</span>}</a
            >
          </li>
          <li class={aboutPage ? "nav-item active" : "nav-item"}>
            <a class="nav-link" href="/about"
              >About {aboutPage && <span class="sr-only">(current)</span>}</a
            >
          </li>
          <li class={portfolioPage ? "nav-item active" : "nav-item"}>
            <a class="nav-link" href="/portfolio"
              >Portfolio {
                portfolioPage && <span class="sr-only">(current)</span>
              }</a
            >
          </li>
          <li class={contactPage ? "nav-item active" : "nav-item"}>
            <a class="nav-link" href="/contact"
              >Contact {
                contactPage && <span class="sr-only">(current)</span>
              }</a
            >
          </li>
        </ul>
      </div>
      <!-- toggle switch for light and dark theme -->
      <div class="mobile-position">
        <nav class="navigation">
          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="mode-container">
                <Icon name="wi:day-sunny" size={24} class="sun-tggle" />
                <Icon name="ph:moon-stars-light" size={24} class="moon-tggle" />
              </div>
            </label>
          </div>
        </nav>
      </div>
      <!-- //toggle switch for light and dark theme -->
    </nav>
  </div>
</header>

<style>
  /*-- toggle switch --*/
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
  }

  .theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0;
  }

  .theme-switch input {
    display: none;
  }

  /*-- //toggle switch --*/
  /*-- dark and light mode styling --*/
  .mode-container {
    width: 24px;
    height: 26px;
    padding: 3px 0;
    margin-left: 20px;
  }

  .mode-container .sun-tggle {
    display: block;
  }

  .mode-container .moon-tggle {
    display: none;
  }

  input:checked + .mode-container .sun-tggle {
    display: none;
  }

  input:checked + .mode-container .moon-tggle {
    display: block;
  }

  /*-- //dark and light mode styling --*/
  .nav-toggle-icon {
    color: var(--font-color);
  }
  .nav-toggle-icon:focus {
    outline: none;
  }

  button[aria-expanded="false"] .show {
    display: block;
  }
  button[aria-expanded="false"] .hide {
    display: none;
  }
  button[aria-expanded="true"] .show {
    display: none;
  }
  button[aria-expanded="true"] .hide {
    display: block;
  }
</style>
