---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset='UTF-8' />
  <meta name='description' content={description} />
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1, shrink-to-fit=no'
  />
  <meta name='generator' content={Astro.generator} />
  <!-- siteMap -->
  <link rel='sitemap' href='/sitemap-index.xml' />
  <link
    rel='shortcut icon'
    href='/assets/images/favicon.png'
    type='image/x-icon'
  />
  <!-- google fonts -->
  <link
    href='//fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap'
    rel='stylesheet'
  />

  <!-- Main CSS -->
  <link rel='stylesheet' href='/assets/css/main.css' />
  <title>{title}</title>

  <!-- Scripts -->
  <!-- default jQuery -->
  <script is:inline defer src='/assets/js/jquery-3.3.1.min.js'></script>
  <!-- theme switch js (light and dark)-->
  <script is:inline defer src='/assets/js/theme-change.js'></script>
  <!-- services owlcarousel -->
  <script is:inline defer src='/assets/js/owl.carousel.js'></script>
  <!-- video popup -->
  <script is:inline defer src='/assets/js/jquery.magnific-popup.min.js'
  ></script>
  <script is:inline defer src='/assets/js/jquery.countup.js'></script>
  <script is:inline defer src='/assets/js/jquery.waypoints.min.js'></script>
  <script is:inline defer src='/assets/js/main.js'></script>
  <script is:inline defer src='/assets/js/bootstrap.min.js'></script>
</head>
