---
import SiteHeader from "../components/SiteHeader.astro";
import Head from "./Head.astro";
import Footer from "../components/Footer.astro";
import PreLoader from "../components/PreLoader.astro";
export interface Props {
  title: string;
  description: string;
  curPage: string;
  canonical: string;
}

const { title, description, canonical, curPage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} canonical={canonical} />

  <body>
    <PreLoader />
    <SiteHeader curPage={curPage} />
    <slot />
    <Footer />
  </body>
</html>
